html,
body {
  background: var(--color-oscuro-2);
  padding: 0%;
  height: 100%;
  min-height: 700px;
}

body {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ContenidoPrincipal {
  display: flex;
  align-self: center;
  margin-left: 10px;
  width: 90%;
  min-height: 700px;
  height: auto;
  flex-flow: column wrap;
  align-items: center;
  background: var(--color-oscuro-3);
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 61px;
}

.ContenidoPrincipal #titulo {
  width: 100%;
  min-height: 60px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContenidoPrincipal #titulo #tituloArchivo {
  color: var(--color-claro);
  font-size: 20px;
}

.ContenidoPrincipal #archivo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 400px;
  margin-bottom: 20px;
}

/**
*   Previsualización achivo
*/
.contenedorPrincipal #archivo #visualizacion {
  flex-flow: center wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
  height: 100%;
}

#fitDiv,
#DocPre,
#Img,
#DOC {
  display: none;
  height: 400px;
  width: 600px;
}

.contenedorPrincipal #archivo #visualizacion #DocPre {
  min-height: 400px;
  border: none;
}

@supports (object-fit: contain) {
  video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  img {
    object-fit: cover;
  }
}

#profile_picture {
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 50%;
  box-shadow: var(--sombra-estandar);
}

.ContenidoPrincipal #informacionArchivo {
  width: 100%;
  min-height: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
}

.ContenidoPrincipal #informacionArchivo #calificacion {
  height: 35px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.ContenidoPrincipal #informacionArchivo #calificacion button {
  width: 40px;
  height: 30px;
  background: none;
  border: none;
  color: var(--color-logo-2);
  font-size: 19px;
  display: flex;
  justify-content: space-between;
}

.ContenidoPrincipal #informacionArchivo #calificacion .rotate {
  transition: transform 0.5s ease 0s;
}

.ContenidoPrincipal #informacionArchivo #calificacion .rotate:hover {
  -webkit-transform: rotateZ(720deg);
  -moz-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
  color: var(--color-claro);
  cursor: pointer;
}

.ContenidoPrincipal #informacionArchivo #info {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-around;
}

.ContenidoPrincipal #informacionArchivo #info h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-claro-2);
}

.ContenidoPrincipal #informacionArchivo #info p {
  padding-left: 35px;
  color: var(--color-medio-3);
}

.ContenidoPrincipal #informacionArchivo #info #abstract,
.ContenidoPrincipal #informacionArchivo #info #tablaContenido {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ContenidoPrincipal #informacionArchivo #infoAdicional {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ContenidoPrincipal #informacionArchivo #infoAdicional p {
  color: var(--color-medio-4);
}

.ContenidoPrincipal #informacionArchivo #usuario {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  color: var(--color-medio-3);
  border: 1px inset rgb(61, 60, 60);
}

.ContenidoPrincipal #opinionesUsuarios #comentar .fotoUsuarios,
.ContenidoPrincipal #informacionArchivo #usuario .fotoUsuarios {
  width: 70px !important;
  height: 70px;
  border-radius: 50%;
  border: 2px solid var(--color-claro);
  box-shadow: var(--sombra-estandar);
}

.ContenidoPrincipal #opinionesUsuarios {
  background: salmon;
  margin-top: 20px;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-flow: column;
}

.ContenidoPrincipal #opinionesUsuarios #comentar {
  background: rgb(168, 142, 140);
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-flow: row;
}

.ContenidoPrincipal #opinionesUsuarios #comentar #fotoUsuarioActual {
  margin: 10px 40px 0 10px;
}

.ContenidoPrincipal #opinionesUsuarios #comentar #hacerComentario {
  width: 90%;
}

.ContenidoPrincipal #opinionesUsuarios #comentar textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100px;
  width: 90%;
  padding: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  background: var(--color-claro);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: var(--color-medio);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

#botonEliminar {
  background: rgb(102, 24, 24) !important;
  color: var(--color-claro-2) !important;
  width: 90px !important;
  justify-content: center !important;
  
}

#botonEditar {
  background: var(--color-logo) !important;
  color: var(--color-claro-2) !important;
  width: 90px !important;
  justify-content: center !important;
  margin-bottom: 10px;
}

#botonesCalificacion{
  width: 80%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
}

#divBotones{
  z-index: 1000;
  width: 20%;
}
