html,
body {
  background: var(--color-oscuro-2);
  height: auto;
  min-height: 700px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#contenedorPrincipal {
  width: 90%;
  min-width: 350px;
  min-height: 400px;
  height: auto;
  margin-bottom: 60px;
  align-self: center;
  display: flex;
  flex-flow: column;
  background: var(--color-medio);
}

#contenedorPrincipal #informacionPrincipal {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@supports (object-fit: contain) {
  img {
    object-fit: cover;
  }
}

#contenedorPrincipal #informacionPrincipal #nombreUsuario {
  position: absolute;
  align-self: flex-start;
  z-index: 10;
  width: 90%;
  height: 50px;
  max-height: 50px;
  background: var(--color-oscuro-opacidad-2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: medium;
  color: var(--color-medio-3);
}

#contenedorPrincipal #informacionPrincipal #banner_picture {
  z-index: 0;
  width: 100%;
  height: 100%;
}

#contenedorPrincipal #informacionPrincipal #profile_picture {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 10;
  border-radius: 50%;
  box-shadow: var(--sombra-estandar);
}

#contenedorPrincipal .contenido {
  width: 100%;
  min-height: 40px;
  height: auto;
}

#contenedorPrincipal .contenido #menuContenidoCanal {
  width: 100%;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
  box-shadow: var(--sombra-2);
  background: var(--color-oscuro-2);
}

#contenedorPrincipal .contenido #menuContenidoCanal .OpcionesContenido {
  width: 100%;
  height: inherit;
}

#contenedorPrincipal .contenido #menuContenidoCanal .OpcionesContenido button {
  background: none;
  border: none;
  width: 100%;
  height: inherit;
  cursor: pointer;
  color: var(--color-claro);
  font-size: 18px;
}

#contenedorPrincipal
  .contenido
  #menuContenidoCanal
  .OpcionesContenido
  button:hover {
  border-bottom: 2px outset var(--color-logo-2);
  box-shadow: var(--sombra-2);
  background-color: var(--color-oscuro);
}

#contenedorPrincipal .contenido #tab-0 {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

#contenedorPrincipal .contenido #tab-1,
#contenedorPrincipal .contenido #tab-2,
#contenedorPrincipal .contenido #tab-3,
#contenedorPrincipal .contenido #tab-4,
#contenedorPrincipal .contenido #tab-5 {
  width: 100%;
  height: 100%;
  display: none;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.informacion-display {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 10px 30px 10px 30px;
}

.informacion-display input {
  height: 30px;
  width: 50%;
  font-size: 15px;
  color: var(--color-claro-2);
  cursor: default;
  background: var(--color-oscuro-opacidad-2);
  border: none;
  padding: 10px;
}

.informacion-display h3 {
  width: 30% !important;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-claro);
}

.botones {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.botones button {
  height: 40px;
  border: none;
  background: var(--color-logo);
  color: white;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.botones #editarInformacion {
  width: 90%;
}
.botones #guardarCambios,
.botones #guardarCambiosDZ,
.botones #cancelarDZ,
.botones #cancelar {
  width: 45%;
  display: none;
}

/**
*   Miniaturas de archivos
*/
.ArchivosCategoria {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 10px 5px 10px 5px;
  width: 100%;
  height: auto;
}
.ArchivosCategoria .MiniaturaArchivos {
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-around;
  width: 300px;
  margin: 10px 0 20px 0;
  cursor: pointer;
}
#contenidoEspecifico h2 {
  font-size: 15px;
  font-weight: lighter;
  color: var(--color-claro-2);
  margin: 10px;
  text-align: center;
  width: 100%;
}
#contenidoEspecifico h3 {
  font-size: 17px;
  color: var(--color-medio-3);
  height: 40px;
  width: 100%;
  text-align: center;
}
.ArchivosCategoria .MiniaturaArchivos .ImgMiniatura {
  display: flex;
  border: 2px outset var(--color-logo-2);
  margin-right: 5px;
  height: 150px;
}

.Informacion,
.ImagenesUsuario,
.DangerZone {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 20px 6px var(--color-oscuro-opacidad-2);
  margin: 10px 50px 10px 50px;
  padding: 40px 0;
}

.DangerZone {
  box-shadow: inset 2px 2px 20px 6px rgba(255, 0, 0, 0.212);
}

.DangerZone .botones {
  width: 100%;
}

.DangerZone .botones #eliminarDZ {
  background-color: rgb(102, 24, 24);
  width: 40%;
}

.DangerZone .botones #editarInformacionDZ,
.ImagenesUsuario .botones #cambiosFotos,
.ImagenesUsuario .botones #cancelarFotos {
  width: 40%;
}

.ImagenesUsuario {
  height: auto;
  display: flex;
  flex-flow: column wrap;
}

.ImagenesUsuario .FotosUsuario {
  height: 300px;
  display: flex;
  flex-flow: column wrap;
}

.ImagenesUsuario #perfilCambio {
  height: 200px;
  width: 200px;
}

.ImagenesUsuario #bannerCambio {
  height: 200px;
  width: 300px;
}
.ImagenesUsuario .inputFoto{
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled{
  background: var(--color-logo-opaco);
  cursor: not-allowed;
}

/* @media only screen and (max-width: 1200px) {
      .contenedorPrincipal {
        width: 100%;
        height: 100%;
      }
    } */
