.CategoriasMostrar {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: auto;
}

.ArchivosCategoria {
  display: flex;
  margin: 10px;
  flex-flow: row nowrap;
}

.MiniaturaArchivos {
  height: 100%;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: space-between;
  align-content: center;
}

.ImgMiniatura {
  display: flex;
  border: 2px outset var(--color-logo-2);
  margin-right: 5px;
}

#miniaturaUsuarios {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

#miniaturaLikesTodos, 
#miniaturaRandomTodos, 
#miniaturaNuevosTodos{
  height: 150px;
  width: 250px;
}

.MiniaturaArchivos h2 {
  font-size: 15px;
  font-weight: lighter;
  color: var(--color-claro-2);
  margin: 10px;
  text-align: center;
}

/* @media only screen and (max-width: 1200px) {
  .contenedorPrincipal {
    width: 100%;
    height: 100%;
  }
} */
