.CategoriasMostrar {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-x: auto;
}

.ArchivosCategoria {
  display: flex;
  margin: 10px;
  flex-flow: row nowrap;
}

.MiniaturaArchivos {
  height: 100%;
  width: 250px;
  display: flex;
  flex-flow: column-reverse wrap;
  justify-content: space-between;
  align-content: center;
}

#miniaturaUsuarios {
  border-radius: 50%;
  border: 2px outset var(--color-logo-2);
  margin-right: 5px;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#miniaturaUsuarios img {
  height: 145px;
  width: 145px;
  border-radius: 50%;
}

@supports (object-fit: cover) {
  img {
    object-fit: cover;
  }
}

#miniaturaLikesTodos,
#miniaturaRandomTodos,
#miniaturaNuevosTodos {
  height: 150px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MiniaturaArchivos h2 {
  font-size: 15px;
  font-weight: lighter;
  color: var(--color-claro-2);
  margin: 10px;
  text-align: center;
}

#iconoImagen {
  font-size: 120px;
  color: var(--color-medio-3);
  -moz-transform: rotate(352deg);
  -webkit-transform: rotate(352deg);
  -o-transform: rotate(352deg);
  -ms-transform: rotate(352deg);
  transform: rotate(352deg);
}
