html,
body {
  background: var(--color-oscuro-2);
  padding: 0%;
  height: 100%;
  min-height: 700px;
}

body {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 18px;
  color: var(--color-claro);
  padding-left: 20px;
}

.ContenidoPrincipal {
  display: flex;
  align-self: center;
  width: 90%;
  flex-flow: column wrap;
  flex-grow: 1;
  background: var(--color-oscuro-3);
  padding: 10px;
  margin-bottom: 61px;
}

#banner {
  flex-grow: 2;
  display: flex;
  align-content: center;
  justify-content: center;
}
