/*Íconos*/

.Icono {
  font-size: 18px;
}
.Letra {
  text-decoration: none;
  font-size: 14px;
}
.Claro {
  color: var(--color-claro);
}
.Oscuro {
  color: var(--color-medio-2);
}

.Logo {
  height: 60px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  overflow-y: hidden;
}

.Logo img {
  height: 110px;
}
/*Botones*/
.ItemsNavegacion {
  list-style-type: none;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

/*lista*/
li {
  flex: 1;
  text-align: center;
}
li .botonesBarraMenu {
  padding: 16px 0;
  height: 60px;
}
li .botonesBarraMenu:hover:not(.activo) {
  background-color: var(--color-oscuro-4);
}

/*Botones*/
.botonesBarraMenu {
  background-color: Transparent;
  border: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  outline: none;
  width: 100%;
}

#barraMenuInferior {
  background-color: var(--color-oscuro);
  position: fixed;
  bottom: 0;
}

#barraMenuInferior .Inferior {
  background-color: var(--color-oscuro);
  min-height: 60px;
}

#barraMenuSuperior {
  background-color: none;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.493);
}

#barraMenuInferior,
#barraMenuSuperior {
  list-style-type: none;
  overflow-x: hidden;
  min-height: 60px;
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  background: transparent;
}

#barraMenuSuperior .OpcionesMoviles,
#barraMenuSuperior #panelExplorar,
#barraMenuInferior #panelBusqueda {
  display: none;
}

#barraMenuSuperior #panelExplorar,
#barraMenuInferior #panelUsuario {
  z-index: 10;
  box-shadow: var(--sombra-2);
  list-style-type: none;
}

#barraMenuInferior #panelUsuario {
  height: 120px;
  bottom: 50%;
  position: relative;
  width: 100%;
  background: var(--color-oscuro);
}

#barraMenuSuperior #panelExplorar {
  position: absolute;
  width: 200px;
  top: 60px;
  background: var(--color-oscuro-4);
  display: flex;
  flex-flow: column;
}

#barraMenuSuperior #panelExplorar .botonesBarraMenu,
#barraMenuInferior #panelUsuario .botonesBarraMenu {
  width: 100%;
  padding: 10px;
  height: 60px;
}

#barraMenuInferior #ingresarBoton,
#barraMenuInferior #miAulaBoton {
  display: inline;
}

#barraMenuInferior #panelBusqueda {
  background: var(--color-oscuro);
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#barraMenuInferior #panelBusqueda input {
  height: 30px;
  width: 70%;
  background: var(--color-medio-2);
  border: none;
  font-size: 20px;
}

#barraMenuInferior #panelBusqueda button {
  width: 20%;
  height: 30px;
  font-size: 18px;
  background: none;
  color: var(--color-medio-2);
  border: none;
}

@media only screen and (max-width: 768px) {
  #barraMenuSuperior .OpcionesMoviles {
    display: flex;
    justify-content: center;
  }

  #barraMenuSuperior .Opciones {
    display: none;
  }
}
