/*Colores*/
:root {
  --color-oscuro: black;
  --color-medio: rgb(42, 43, 43);
  --color-claro: white;
  --color-informacion: rgba(17, 17, 17, 0.562);
  --color-letra: rgb(85, 82, 82);
}

body,
html {
  background: var(--color-medio);
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.contenedorPrincipal {
  color: var(--color-claro);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 650px;
  min-width: 320px;
  position: absolute;
  margin-top: 60px;
  margin-bottom: 60px;
}

/**
*   Subir archivo
*/
.contenedorPrincipal .Archivo {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 150px;
  margin: 20px;
}

.contenedorPrincipal .Archivo .IconoBusqueda {
  font-size: 30px;
}

.contenedorPrincipal .Archivo #SeleccionarArchivo {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  background: inherit;
  border: 0px;
  box-shadow: 0 4px 8px -2px #081e4900;
  cursor: pointer;
  height: 100%;
}

.contenedorPrincipal .Archivo .ArchivoSeleccionar {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.contenedorPrincipal #barraProgreso {
  -webkit-appearance: none;
  width: 200px;
  height: 15px;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--color-letra);
  border-radius: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(99, 99, 99, 0.25)),
    -webkit-linear-gradient(left, rgb(0, 217, 255), rgb(0, 87, 250));
  border-radius: 14px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

.contenedorPrincipal .Archivo .LabelCargar:hover {
  color: rgb(191, 245, 255);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
/**
*   Información achivo
*/
.contenedorPrincipal .Informacion {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0.6;
  width: 100%;
}

/**
*   Previsualización achivo
*/
.contenedorPrincipal .Informacion .Previsualizacion {
  flex-flow: center wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 50%;
  margin-bottom: 30px;
}

.contenedorPrincipal .Informacion .Previsualizacion .MiniaturaArchivo {
  width: 90%;
  height: 250px;
  border: 1px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/**
*   Información archivo
**/
.contenedorPrincipal .Informacion .Datos {
  flex-flow: column wrap;
  flex-grow: 0.4;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 50%;
}

.contenedorPrincipal .Informacion .Datos input,
.contenedorPrincipal .Informacion .Datos button,
.contenedorPrincipal .Informacion .Datos select {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  background: var(--color-claro);
  border: none;
  border-radius: 5px;
  font-size: 14px;
  color: var(--color-letra);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.contenedorPrincipal .Informacion .Datos button {
  font-weight: bolder;
  background: rgb(0, 87, 128);
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .contenedorPrincipal .Informacion {
    display: flex;
    flex-flow: wrap column;
    width: 100%;
  }

  .contenedorPrincipal .Informacion .Previsualizacion,
  .contenedorPrincipal .Informacion .Datos {
    width: 100%;
  }
}
